<div>
    <div class="container mt-5 table-responsive">
<table class="table table-hover align-left" id="pendinglist">
  <h1>PENDING PRODUCTS</h1>
  <thead>
    <tr class="table-success">
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Selling Price</th>
       <th scope="col">Quantity</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
      {{#each pendinglist}}
    <tr>
      <td data-label="Name">{{this.productname}}</td>
      <td data-label="Category">{{this.category}}</td>
      <td data-label="Selling Price">{{this.sellingprice}}</td>
      <td data-label="Quantity">{{this.quantity}}</td>
       <td><a href="/admin/approve_product/{{this._id}}" onclick="return confirm('are you sure you want to Approve product??')" class="btn btn-success" >Approve</a><a href="/admin/reject_product/{{this._id}}" onclick="return confirm('are you sure you want to Reject product??')" class="btn btn-danger">Reject</a></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>



<style>
    body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
</style>

<script>
    $( function () {
    $('#pendinglist').DataTable();
} );
</script>